@import url(https://github.com/alberteex/cssmonospaccefont/blob/3c41328eba70de93f264b5e44e6de76a1970dd7a/main.css);

:root {

--Font-Used: 'Space Mono', monospace;

/* https://nfld99.github.io/Better-Discord/Font_List.txt */

--Font-Size: 5px ;

/* mediumxx-smallx-smallsmalllargex-largexx-largesmallerlargerlengthinitialinherit; */

--Font-Style: normal ;

/* normalitalicobliqueinitialinherit; */

--Font-Weight: 100 ;

/* normalboldbolderlighternumberinitialinherit */

--Font-Variant: normal ;

/* normalsmall-capsinitialinherit */

}

*:not([class*="hljs"]):not(code){

font-family: var(--Font-Used)!important;

font-style: var(--Font-Style)!important;

font-weight: var(--Font-Weight)!important;

font-variant: var(--Font-Variant)!important;

}

.markup:not(code) {

font-size: var(--Font-Size)!important;

}
